FLUXO_DB_NAME=fluxo_db
FLUXO_DB_USER=fluxo
FLUXO_DB_PASSWORD=fluxo
FLUXO_DB_PUBLIC_PORT=5432

FLUXO_MQTT_PUBLIC_PORT=1883
FLUXO_MQTT_TLS_PUBLIC_PORT=8883

FLUXO_API_PUBLIC_PORT=5000
FLUXO_PORTAL_PUBLIC_PORT=8080

FLUXO_AUTH_ENABLED=false
FLUXO_AUTH_AUDIENCE=fluxo-api
FLUXO_AUTH_ISSUER=fluxo-local
FLUXO_AUTH_SIGNING_KEY=change-this-local-signing-key-with-32-chars-min
FLUXO_AUTH_EXPIRES_MINUTES=60

FLUXO_DEVICE_OFFLINE_AFTER_SECONDS=120

FLUXO_MQTT_INGESTION_USERNAME=ingestion-worker-local
FLUXO_MQTT_INGESTION_PASSWORD=change-this-local-ingestion-password
